p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  font-family: Roboto,Arial;
  margin: 0px;
  padding: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: #f9f9f9ff;
}
a{
  text-decoration: none;
}